<div class="modalSubordinationClose" id="SubordinationModal" >
    <div>
        <h4 id="header-modal"></h4>
    </div>
    <div>
        <table id="SubordinationTable" class="table" stile="width="1200px; height="80%"></table>
    </div>
    <div>
        <button type="button" id="closeSubordinationModal">Закрыть</button>
    </div>
</div>
