
<div style="padding-top:2%; padding-bottom:2%; height:8%; width:1200px; margin:0 auto">
    <div style="background-color:dimgray; display:flex;">
        <div style="width:19%; padding-left:2%; padding-right:1%; padding-top:1%; padding-bottom:1%">
            <button style="width:100%;" id="CreateExcelTable">Сгенерировать excel</button>
        </div>
        <div style="width:19%; padding-left:1%; padding-right:2%; padding-top:1%; padding-bottom:1%">
            <button style="width:100%;" id="Add">Добавить запись</button>
        </div>
        <div id="menu" style="display:none; width:60%; padding-top:1%; padding-bottom:1%">
            <button style="width:30%; padding-right:2%" id="Update">Изменить запись</button>
            <button style="width:25%; padding-right:2%" id="Delete">Удалить запись</button>
            <button style="width:40%;" id="Subordination">Вывести структуру руководства</button> 
        </div>
        <div id="sort" style="display:none; width:60%; padding-top:1%; padding-bottom:1%">
            <button style="width:40%; padding-right:2%" id="sortingUp">Отсортировать по возрастанию</button>
            <button style="width:40%" id="sortingDown">Отсортировать по убыванию</button>
        </div>
    </div>
</div>
<div>
    <table id="Table" class="table" align="center" width="1200px"></table>
</div>

<div class="coverHide" id="cover">
    @{await Html.RenderPartialAsync("Modal"); }
    @{await Html.RenderPartialAsync("Subordination"); }
</div>



