
    <div id="modal-view" class="modalFormClose" >
        <div>
            <label for="idModal" style="width:48%; display:none"></label>
            <input type="text" style="width:49%; display:none" id="idModal">
            <br>
            <label for="nameModal" class="LabelForInput">Имя:</label>
            <input type="text" id="nameModal">
            <br>
            <label for="positionModal" class="LabelForInput">Должность:</label>
            <input type="text" id="positionModal">
            <br>
            <label for="employmentDateModal" class="LabelForInput">Дата приема:</label>
            <input type="date" id="employmentDateModal">
            <br>
            <label for="orderModal" class="LabelForInput">Отдел:</label>
            <input type="text" id="orderModal">
            <br>
            <label for="managerNameModal" class="LabelForInput">Имя руководителя:</label>
            <input type="text" id="managerNameModal">
        </div>
        <div>
            <button type="button" style="width:33%" id="closeModal">Закрыть</button>
            <button type="submit" id="submitModal" style="float: right;width:40%">Сохранить изменения</button>
        </div>
    </div>
