
    <div id="modal-view" class="modalFormClose" >
        <div>
            <h4 id="header-modal"></h4>
        </div>
        <div>
            <label for="idModal" style="display:none"></label>
            <input type="text" style="width:50%; display:none" id="idModal">

            <label for="nameModal" style="width:49%">Имя:</label>
            <input type="text" style="width:50%" id="nameModal">

            <label for="positionModal" style="width:49%">Должность:</label>
            <input type="text" style="width:50%" id="positionModal">

            <label for="employmentDateModal" style="width:49%">Дата приема:</label>
            <input type="date" style="width:50%" id="employmentDateModal">

            <label for="orderModal" style="width:49%">Отдел:</label>
            <input type="text" style="width:50%" id="orderModal">

            <label for="managerNameModal" style="width:49%">Имя руководителя:</label>
            <input type="text" style="width:50%" id="managerNameModal">
        </div>
        <div>
            <button class="ModalButton" type="button" id="closeModal">Закрыть</button>
            <button class="ModalButton" type="submit" id="submitModal" style="float: right">Сохранить изменения</button>
        </div>
    </div>
